.shipment-row {
    .MuiChip-root {
      border-radius: 16px;
      font-size: 14px;
      font-weight: 500;
      height: 22px;
      border: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .shipment-row__chip{
        border-radius: 16px;
        font-weight: 500;
        height: 24px;
        transition: all 0.2s ease;
      }
    
      .shipment-row__chip--cargo{
        background-color: #FFF3E5;
        color: #FE6824;
        border: none;
        padding: 3px 7px;

        svg {
            stroke: #FE6824;
        }
      }

      .shipment-row__chip--distance{
        background-color: #EEF4F7;
        color: #4472B8;
        border: none;
      }

      .shipment-row__chip--dimensions{
        background-color: #F5F5F5;
        color: #717680;
      }
    
      .shipment-row__chip--type{
        background-color: #F5F5F5;
        color: #717680;
      }

      .shipment-row__badges{
        margin-top: 20px;
      }

      .shipment-row__chip--badge{
        background-color: #FCF9D2;
        color: #9B721B;
        border: none;
        font-size: 12px;
        font-weight: 500;
      }

      .shipment-row__chip--dates{
        background-color: #F5F5F5;
        color: #414651;
        border: none;
        font-size: 12px;
        font-weight: 500;
        padding: 3px 7px;
      }

      .shipment-row__chip--repeats{
        background-color: #FFF1E6;
        color: #B35C00;
        border: none;
        font-size: 12px;
        font-weight: 500;
        padding: 3px 7px;
      }
      
  }