.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #152736;
  height: 94px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__middle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &__logo {
    img {
      max-height: 50px;
      width: auto;
      height: auto;
    }
  }

  &__column {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 480px) {
      gap: 8px;
    }
    
    &--user {
      font-size: 18px;
      color: #fff;
      @media (max-width: 860px) {
        font-size: 14px;
      }
    }
  }

  &__button {
    padding-left: 50px;
    padding-right: 50px;
    
    @media (max-width: 860px) {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
    }
    
    @media (max-width: 480px) {
      padding-left: 12px;
      padding-right: 12px;
      font-size: 12px;
    }
  }
}

@media (max-width: 860px) {
  /* Убираем горизонтальные отступы у MUI Stack на мобилке */
  .css-112irme-MuiStack-root > :not(style) ~ :not(style) {
    margin-left: 0 !important;
  }
}
