    .dashboard-layout {

    .MuiListItemButton-root {
      &:hover {
        background-color: transparent;
      }
      
      &:focus {
        background-color: transparent;
      }
      
      &:active {
        background-color: transparent;
      }
      min-width: unset
    }

    .MuiListItemIcon-root{
        min-width: unset;
    }

    .dashboard-buttons__action.MuiButton-root {
        padding: 0;
    }

    
    .dashboard-buttons {
      border-radius: 5px;
      color: #666;
      transition: all 0.2s ease;
      height: 44px;
      
      &:hover {
        background-color: #EEF4F7;
      }
      
      &.active, &:focus {
        background-color: #4472B8;
        color: white;
        svg{
            color: #fff;
        }
      }

      svg{
        width: 20px;
        height: 20px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;     
      
      &__post {
        border: none;
        background-color: #EEF4F7;
        justify-content: flex-start;
        color: #4472B8;

        &:hover {
          background-color: #4472B8;
          color: #fff;
          svg{
            color: #fff;
          }
          
        }
      }

      &__logout {
        /*-Под вопросом-*/
      }
    }
  }